.petals {
    background-image: url('../../src/assets/flowing.gif');
    background-repeat: repeat;
}

a {
    color: var(--primary-color);
    transition: color 0.5s;
}

a:hover {
    color: var(--secondary-color);
    transition: color 0.5s;
}