.nav-links {
    display: flex;
    justify-content: flex-end; /* Align links to the right */
    align-items: center;
    height: 100%;
  }

.navbar {
    background-color: rgba(255, 255, 255, 0.9);
}

.title {
    color: black
}
  
.header {
    background-color: aliceblue;
    position: sticky;
    top: 0;
}

  .nav-link {
    text-decoration: none;
    margin-left: 10px; /* Add some spacing between links */
  }

  
  .nav-link:last-child {
    margin-right: 0; /* Remove margin from the last link */
  }